@model WebSite.Models.Post

@{
    ViewBag.Title = "Details";
}


<div id="contentBlog">
    <div class="PostTitle">@Model.Title</div>
    <div class="rating" style="font-family: bold-font;">
        <!--Display the rating-->
        @{
            Single m_inPercent = 0;
            var thisVote = string.Empty;

            if (Model.Votes != null)
            {
                m_inPercent = (Model.Rating * 100) / 5;

                thisVote = "<span style=\"display: block; width: 65px; height: 13px; background: url(/images/starRating.png) 0 0;\">" +
                    "<span style=\"display: block; width: " + m_inPercent + "%; height: 13px; background: url(/images/starRating.png) 0 -13px;\"></span> " +
                    "</span>" + "<span class=\"smallText\">Overall ratings: <span itemprop=\"ratingCount\">" + Model.totalNumberOfVotes + "</span> | Rating: <span itemprop=\"ratingValue\">" + Model.Rating.ToString("##.##") + "</span> out of 5 </span>  ";
            }
        }
        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <meta itemprop="bestRating" content="5" />
            <meta itemprop="worstRating" content="1">
            <meta itemprop="ratingValue" content="@Model.Rating.ToString("##.##") %>" />
            @Html.Raw(thisVote)
        </div>
    </div>

    <div id="mainContentBlog">
        <section>
            <article class="blogPost">
                <header>
                    <div style="font-style:italic">Posted on @Model.PublishDate.ToString("dd MM yyyy") by @Model.Writer     <a href="#comments">@Model.Comments.Count Reviews</a></div>
                    <form metod="get" action="@Model.WebSite"><button id="visitWebsite" type="submit">Visit Website</button></form>
                    <br />
                    
                </header>
                            
                <div>
                    @Model.Content
                    <h2>Cuisine</h2>
                    <div>@Model.Cuisine</div>
                    <h2>Meals</h2>
                    <div>@Model.Meals</div>
                    <h2>Restaurant Features</h2>
                    <div>@Model.RFeatures</div>
                    <h2>Location and Contact Information</h2>
                    @if(@Model.Latitude==null||@Model.Longitude==null)
                    {
                    <div><b>Address:</b> @Model.Address <img id="location-image" src="~/images/location.png" width="20" height="20" style="box-shadow:none" /></div>
                    }
                    else
                    {
                    <div><b>Address:</b> @Model.Address  <a href="http://www.google.com/maps/place/@Model.Latitude,@Model.Longitude" target="_blank"><img id="location-image" src="~/images/location.png" width="20" height="20" style="box-shadow:none" /></a></div>
                    }
                    <div><b>Phone Number:</b> @Model.PhoneNumber</div>

                    <h2>Business hours</h2>
                    <table id="business-hours-table">
                        <tr>
                            <td><b>Sunday</b></td>
                            <td>
                                @if (Model.SundayOpening != null && Model.SundayClosing != null)
                                {
                                    <div>@Model.SundayOpening-@Model.SundayClosing</div>
                                }
                                else
                                {
                                    <div style="color:red">Closed</div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td><b>Monday</b></td>
                            <td>
                                @if (Model.MondayOpening != null && Model.MondayClosing != null)
                                {
                                    <div>@Model.MondayOpening-@Model.MondayClosing</div>
                                }
                                else
                                {
                                    <div style="color:red">Closed</div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td><b>Tuesday</b></td>
                            <td>

                                @if (Model.TuesdayOpening != null && Model.TuesdayClosing != null)
                                {
                                    <div>@Model.TuesdayOpening-@Model.TuesdayClosing</div>
                                }
                                else
                                {
                                    <div style="color:red">Closed</div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td><b>Wednesday</b></td>
                            <td>
                                @if (Model.WednesdayOpening != null && Model.WednesdayClosing != null)
                                {
                                    <div>@Model.WednesdayOpening-@Model.WednesdayClosing</div>
                                }
                                else
                                {
                                    <div style="color:red">Closed</div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td><b>Thursday</b></td>
                            <td>

                                @if (Model.ThursdayOpening != null && Model.ThursdayClosing != null)
                                {
                                    <div>@Model.ThursdayOpening-@Model.ThursdayClosing</div>
                                }
                                else
                                {
                                    <div style="color:red">Closed</div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td><b>Friday</b></td>
                            <td>
                                @if (Model.FridayOpening != null && Model.FridayClosing != null)
                                {
                                    <div>@Model.FridayOpening-@Model.FridayClosing</div>
                                }
                                else
                                {
                                    <div style="color:red">Closed</div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td><b>Saturday</b></td>
                            <td>
                                @if (Model.SaturdayOpening != null && Model.SaturdayClosing != null)
                                {
                                    <div>@Model.SaturdayOpening-@Model.SaturdayClosing</div>
                                }
                                else
                                {
                                    <div style="color:red">Closed</div>
                                }
                            </td>
                        </tr>
                    </table>

                            @if (Model.Image != null)
                            {
                                <img id="post-image" src="@Model.Image" width="500" height="300" />
                            }
                            @if (Model.Video != null)
                            {
                                <video controls="controls">
                                    <source src="@Model.Video" type="video/mp4" />
                                    Your browser does not support the video tag.
                                </video>
                            }


                        </div>

</article>
        </section>
        </div>
    </div>

<!--Rating-->
@{
    var url = Request.Url.AbsolutePath;
}
@if (!User.Identity.IsAuthenticated)
{
    <text>Please <a href="/Account/Login?ReturnUrl=@Request.Url.AbsolutePath" title="Login to rate">Login</a> to rate</text>
    return;
}
else
{
    <div id="ratingDiv" class="smallText">
        Poor
        <img src="/images/whitestar.gif" alt="" class="ratingStar" data-value="1" /><img src="/images/whitestar.gif" alt="" class="ratingStar" data-value="2" /><img src="/images/whitestar.gif" alt="" class="ratingStar" data-value="3" /><img src="/images/whitestar.gif" alt="" class="ratingStar" data-value="4" /><img src="/images/whitestar.gif" alt="" class="ratingStar" data-value="5" /> Excellent
        <label id="lblResult"></label>
    </div>
    <style type="text/css">
        .ratingStar {
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">
        var clickedFlag = false;
        $(".ratingStar").mouseover(function () {
            $(this).attr("src", "/images/yellowstar.gif").prevAll("img.ratingStar").attr("src", "/images/yellowstar.gif");
        });
        $(".ratingStar, #radingDiv").mouseout(function () {
            $(this).attr("src", "/images/whitestar.gif");
        });
        $("#ratingDiv").mouseout(function () {
            if (!clickedFlag)
            {
                $(".ratingStar").attr("src", "/images/whitestar.gif");
            }
        });
        $(".ratingStar").click(function () {
            clickedFlag = true;
            $(".ratingStar").unbind("mouseout mouseover click").css("cursor", "default");

            var url = "/Blog/SendRating?r=" + $(this).attr("data-value") + "&s=5&id=@Model.ID&url=@url";
            $.post(url, null, function (data) {
                $("#lblResult").html(data);
            });
        });
        $("#lblResult").ajaxStart(function () {
            $("#lblResult").html("Processing ....");
        });
        $("#lblResult").ajaxError(function () {
            $("#lblResult").html("<br />Error occured.");
        });
    </script>
}



<p>
    @Html.ActionLink("Back to Posts", "Index")
</p>


<section id="comments">
    <h2>Reviews</h2>

    @foreach (var item in Model.Comments)
    {
    <article>
        <header>
            <a href="@item.WebSite">@item.Writer</a> 
        </header>
        <p>@item.Content</p>
        @Html.ActionLink("Delete", "/DeleteComment", item)
    </article>
    }


</section>
<form action="/Blog/AddComment" method="post" id="commentForm">
    <h2>Post a Review</h2>
    <p>
        <label for="Title">Title</label>
        <input name="Title" id="Title" type="text" required />
    </p>
    <p>
        <label for="Writer">Writer</label>
        <input name="Writer" id="Writer" type="text" />
    </p>
    <p>
        <label for="WebSite">WebSite</label>
        <input name="WebSite" id="WebSite" type="url" />
    </p>
    <p>
        <label for="Content">Content</label>
        <textarea name="Content" id="Content" required></textarea>
    </p>
    <p>
        <input name="postid" value="@Model.ID" type="hidden"/>
    </p>
    <p><input type="submit" value="Post comment" /></p>
    <input type="number" hidden id="RelatedPost" name="RelatedPost" value="@Model.ID"/>
</form>

